@import url("./reset.css");
@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* header section */

header {
  background-color: #97D4FF;
  padding: 10px 15%;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 200px;
}

.nav-links ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-toggle {
  display: none;
}

.hamburger-icon {
  display: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.mobile-nav {
  display: none; 
  position: absolute; 
  top: 100%; 
  right: 5%; 
  background-color: gray; 
  width: 200px; 
  padding: 15px; 
  border: 1px solid black; 
  border-radius: 5px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: left; 
  z-index: 10;
}

.mobile-nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-links li {
  margin: 10px 0;
}

.mobile-nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.mobile-nav-links a:hover, .nav-links a:hover {
  background-color: #007BFF; 
  color: #FFFFFF; 
}

/* main section */

.main-section {
  max-width: 2000px; 
  margin: 0 auto; 
  text-align: center; 
}

.product-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.product {
  flex: 1 1 calc(33% - 20px);
  margin: 10px; 
  background-color: #f0f0f0; 
  border-radius: 10px;
  padding: 20px; 
}

.product-link {
  display: block; 
  text-decoration: none; 
  color: inherit; 
}

.product-image {
  max-width: 50%; 
  height: auto; 
  margin-bottom: 10px; 
  border-radius: 5px; 
}

.product-name {
  margin: 10px 0 5px; 
  font-size: 1.4rem;
}

.product-price {
  font-size: 1.2rem; 
  color: #333; 
}

.sort-container {
  display: flex;
  margin: 20px 0; 
}

.sort-name {
  margin-right: 10px;
  font-size: 1.3rem; 
}

.sort-select {
  font-size: 1rem; 
  border: 1px solid gray; 
  border-radius: 5px;
}

/* footer section */

.footer-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start; 
  padding: 20px 5%; 
  background-color: gray; 
  flex-wrap: wrap; 
}

.footernav-1, .footernav-2, .footer-copyright {
  flex: 1; 
  padding: 15px; 
  max-width: 300px; 
}

.footernav-1, .footernav-2 {
  text-align: left; 
}

.footernav-2 ul {
  padding: 0;
  margin: 0; 
}

.footernav-2 li {
  display: flex; 
  align-items: center; 
  margin: 5px 0; 
}

.footernav-2 i {
  margin-right: 8px; 
}

.social-icon {
  margin-right: 15px; 
  font-size: 2rem;
  color: black; 
}

.social-icon:hover {
  background-color: #007BFF; 
  color: #FFFFFF; 
}

.footer-logo {
  width: 250px; 
}

.footer-logo:hover {
  background-color: #007BFF; 
  color: #FFFFFF; 
}

/* mobile section */

@media (max-width: 768px) {

.nav-links {
    display: none;
}

.hamburger-icon {
    display: block;
}

.menu-toggle:checked ~ .mobile-nav {
    display: block;
}

.footer-container {
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px; 
}

.footernav-1, .footernav-2, .footer-copyright {
    max-width: none; 
    margin-bottom: 10px; 
    width: 100%; 
    padding: 10px; 
}

.footer-copyright {
    text-align: left; 
}

}
